{% extends "core/base.html" %}

{% block titulo %} Nueva Categoria {% endblock %}


{% block contenido %} 
   <form method="post">
       {% csrf_token%}
        <div class="card shadow-lg">
            <div class="card-header">
                <h2 class="card-title text-center">Nueva Categoria</h2>
            </div>
            <div class="card-body">
                {{ form.as_table }}
            </div>
            <div class="footer d-flex justify-content-evenly">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a  class="btn btn-outline-info" href="{% url 'productos:categoria-list' %}">Cancelar</a>
            </div>
        </div>
    </form>
    


{% endblock %}